extends layout
block content
    p1 contact   details 
    E-mail:   aysa@matueva.com 
    br
    Personal   website:      aysamatueva.com
    br 
    Linkedin   profile:    https://www.linkedin.com/in/aysamatueva 
    br
    Facebook   profile:    https://www.facebook.com/aysa.matueva