extends layout
block content
    p contact   details 
    br
    | email:   
    a(href='mailto:aysa@matueva.com', target='_top') aysa@matueva.com 
    br 
    | Linkedin:    
    a(href="https://www.linkedin.com/in/aysamatueva") https://www.linkedin.com/in/aysamatueva 
    br
    | Facebook:    
    a(href="https://www.facebook.com/aysa.matueva") https://www.facebook.com/aysa.matueva
    br
    | Codepen:    
    a(href="https://codepen.io/cassul/") https://codepen.io/cassul/
    br
    | Github:   
    a(href="https://github.com/Cassul") https://github.com/Cassul