extends layout
block content
    p contact   details 
    br
    | email:   aysa@matueva.com 
    br
    | Personal   website:      aysamatueva.com
    br 
    | Linkedin   profile:    https://www.linkedin.com/in/aysamatueva 
    br
    | Facebook   profile:    https://www.facebook.com/aysa.matueva