extends layout
block content
  h1 I'm Aysa, 29.
  p I never had anything to do with the computers rather than Basic at school. I didn't know how to touch type, I finished medical university 6 years ago and worked all that time as a barista. And...
  h6 I decided to learn programming form scratch
  p My first decision was to study at free online university
    a(href="https://uopeople.edu" target="_blank") University of People
  |, but then I was told that after four years of study I will graduate without any working experience and it's better to go through intensive short time course and try to get a job in the industry at any position and start getting a working experience. 