extends layout
block content
  h1 Меня зовут Айса, мне 29 лет. 
  p У меня нет никакого компьютерного бэкграунда, я не умею печатать touch type(более того - я даже не знаю как это по-русски перевести) и весь мой опыт работы с компьютером сводится к бэйсику в школе и установке игр. Я закончила медицинский университет 6 лет назад и проработала все это время бариста
  h6 И вот я решила начать с нуля учиться программированию. 
  p Сначала я решила учиться Computer Science в бесплатный онлайн 
    a(href="https://uopeople.edu" target="_blank") University of People
  |, но умные люди сказала, что это четыре года и что в IT сфере за это время все может поменяться и приобретенные знания окажутся бесполезными. Но вообще, кому если очень хочется почти за бесплатно получить высшее образование на английском языке, или гештальт закрыть по поводу вышки - то рекомендую.
  p Но это долго, ну и четыре года опыта работы на рынке труда ценятся гораздо выше, так что было решено пойти на интенсивные курсы, потом постараться найти работу и учиться параллельно рабочему процессу
  p Но сначала нужно разобраться кем хочется стать и что для этого нужно сделать, какие курсы выбрать и чему можно научиться самостоятельно.
  p Я прочитала десятки статей, постов и решила что больше всего меня привлекает веб-разработка. А именно бэк-энд(хотя вообще - как попрёт=)
  p Начала я с покупки Аймака, старый подержанный аймак на ибее за 350 австралийских долларов, мощности у него маловато, зато большой экран. Для повседневной работы был куплен макбук за 700. 
  p Потом я стала учиться печатать вслепую, вот хороший сайт -
    a(href="https://typingclub.com" target="_blank")  TypingClub
  p После приступила к базовым языкам, без которых никуда - HTML и CSS на 
    a(href="https://codecademy.com" target="_blank") Kодекадеми.
  p Запостила вопрос на ФБ по поводу языков программирования и добрые люди насоветовали браться за Javascript серьезно(ну и руби и пайтон). Из ресурсов мне понравился 
    a(href="https://freecodecamp.com" target="_blank") Free Code Camp
  p Ну и в общем так потихоньку по час-два в день самостоятельного изучения стало понемногу все проясняться и уже не так страшно всё) Походив на встречи джуниор девов(младших разработчиков?) выбрала себе курс Web Development Immersive от  интернациональной конторы 
    a(href="https://generalassemb.ly" target="_blank") General Assembly
  |Отзывы были отличные, цена ошеломляющая, правда, но ничего, за годы моей жизни(как я только тут поняла - суровой и неказистой, ха) копить деньги я вполне себе научилась, австралийцы с меня диву даются, как мало ресурсов мне нужно на жизнь. 
  p Итак, по ходу самостоятельного обучения я решила углубиться в NodeJS, потому что выглядит многообещающим. Не самый лучший выбор для начинающего, как я потом осознала, но что сделано, то сделано. Мне нод нравится, я его не брошу потому что он хороший)
  p Итак, по плану курсов у меня NodeJS, Ruby 
