extends layout
block content
  h1 I'm Aysa, 29.
  p I never had anything to do with the computers rather than Basic at school. I didn't know how to touch type, I finished medical university 6 years ago and worked all that time as a barista. And...
  h6 I decided to learn programming form scratch
  p My first decision was to study at free online university
    a(href="https://uopeople.edu" target="_blank") University of People
  |, but then I was told that after four years of study I will graduate without any working experience and it's better to go through intensive short time course and try to get a job in the industry at any position and start getting a working experience. 
  p Но сначала нужно разобраться кем хочется стать и что для этого нужно сделать, какие курсы выбрать и чему можно научиться самостоятельно.
  p Я прочитала десятки статей, постов и решила что больше всего меня привлекает веб-разработка. А именно бэк-энд(хотя вообще - как попрёт=)
  p Начала я с покупки Аймака, старый подержанный аймак на ибее за 350 австралийских долларов, мощности у него маловато, зато большой экран. Для повседневной работы был куплен макбук за 700. 
  p Потом я стала учиться печатать вслепую, вот хороший сайт -
    a(href="https://typingclub.com" target="_blank")  TypingClub
  p После приступила к базовым языкам, без которых никуда - HTML и CSS на 
    a(href="https://codecademy.com" target="_blank") Kодекадеми.
  p Запостила вопрос на ФБ по поводу языков программирования и добрые люди насоветовали браться за Javascript серьезно(ну и руби и пайтон). Из ресурсов мне понравился 
    a(href="https://freecodecamp.com" target="_blank") Free Code Camp
  p Ну и в общем так потихоньку по час-два в день самостоятельного изучения стало понемногу все проясняться и уже не так страшно всё) Походив на встречи джуниор девов(младших разработчиков?) выбрала себе курс Web Development Immersive от  интернациональной конторы 
    a(href="https://generalassemb.ly" target="_blank") General Assembly
  |Отзывы были отличные, цена ошеломляющая, правда, но ничего, за годы моей жизни(как я только тут поняла - суровой и неказистой, ха) копить деньги я вполне себе научилась, австралийцы с меня диву даются, как мало ресурсов мне нужно на жизнь. 
  p Итак, по ходу самостоятельного обучения я решила углубиться в NodeJS, потому что выглядит многообещающим. Не самый лучший выбор для начинающего, как я потом осознала, но что сделано, то сделано. Мне нод нравится, я его не брошу потому что он хороший)
  p Итак, по плану курсов у меня NodeJS, Ruby 
