extends layout
block content
    h1 Welcome to a wannabe web-developer's blog! 
    h2 My name is Aysa Matueva
    p(class='lead') I'm a Russian girl in Melbourne, have a degree in medicine and 10 years of experience as a barista. I've just started to learn coding in May 2017
    So if you want to start learning coding from scratch but don't know where to start - you're in the right place! Let's take that path together and share our knowledge
        Also here you may find some information about some other stuff - like coffee and movies
    h1 Добро пожаловать в мой блог! Меня зовут
    h1 Айса Матуева
    p(class='lead') Если ты хочешь стать веб-разработчиком, но тебе непонятно с чего начать - ты в правильном месте! Я начала совсем с нуля и рассскажу где найти хорошие ресурсы для начинащих. Ну еще здесь я пишу о своих кофейных приключениях и жизни в Мельбурне. 
    p Please choose your language
    p Пожалуйста, выберите язык
    form(action='/language', method='post')
        input(type='radio', name='language', value='english') 
        |   English  
        input(type='radio', name='language', value='russian') 
        |   Русский  
        button(type='submit' class='btn btn-lg btn-primary') Submit