extends layout
block content
    h1 Welcome to a wannabe web-developer's blog! 
    h2 My name is Aysa Matueva
    p(class='lead') I'm from Russian and currently live in Melbourne. I have a degree in medicine and 10 years of experience as a barista but never knew much about computers and just started to learn coding in May 2017
    So if you want to start learning coding from scratch but don't know where to start - you're in the right place! Let's take that path together and share our knowledge
        Also here you may find some information about some other stuff - like coffee and movies
    p Please choose your language
    p Пожалуйста, выберите язык
    form(action='/language', method='post')
        input(type='radio', name='language', value='english') 
        |   English  
        input(type='radio', name='language', value='russian') 
        |   Русский  
        button(type='submit' class='btn btn-lg btn-primary') Submit