<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="cranes.ico">
    

    <title>Learn coding with me</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link src="../public/css/justified-nav.css" rel="stylesheet">
    link(rel='stylesheet', href='/css/style.css')
  </head>

  <body>
  <div id="fb-root"></div>
    <script src="facebook.js"></script>
    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">Self-education and coffee</h3>
        <nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-3">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav text-md-center nav-justified w-100">
              <li class="nav-item active">
                <a class="nav-link" href='/''>Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href='/projects'>Projects</a>
              </li>
              
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/subscribe">Subscribe for newsletters</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/language">Change language</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron">
      block content
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>My progress</h2>
          <p>Here I'm going to write my weekly study report</p>
          <p><a class="btn btn-secondary" href="/myprogress" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Sources</h2>
          <p>Link and reviews to all sources I use</p>
          <p><a class="btn btn-secondary" href="/resources" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Other stuff</h2>
          <p>Posts about coffee. My everyday Melbourne life. Movies I watched and places I've been</p>
          <p><a class="btn btn-secondary" href="/stuff" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <!-- Site footer -->
      <script type="text/javascript"> var url = encodeURIComponent(myurl.slice(7));
      var hreff="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F" + url + "%2F&amp;src=sdkpreparse";
    </script>
      <footer class="footer">
        <div id="fb" class="fb-share-button" data-href=myurl data-layout="button_count" data-size="small" data-mobile-iframe="true"><a id="facebook" class="fb-xfbml-parse-ignore" target="_blank" href=hreff>Share</a></div>
      </footer>

    </div> <!-- /container -->
  
    

  
    <script src="/reload/reload.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/css/jquery-slim.min.js"><\/script>')</script>
    <script src="/css/popper.min.js"></script>
    <script src="/css/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/css/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">console.log(req.url);</script>
  </body>
</html>