extends layout
block content
  h1 Welcome to a wannabe web-developer's blog! My name is
    h1 Aysa Matueva
    p contact   details 
    E-mail:   aysamatueva.com 
    br
    Personal   website:      aysamatueva.com
    br 
    Linkedin   profile:    https://www.linkedin.com/in/aysamatueva 
    br
    Facebook   profile:    https://www.facebook.com/aysa.matueva
  p
    p(class='lead') If you want to start learning coding from scratch but don't know where to start - you're in the right place!  
        Also here you may find some information about some other stuff - like coffee and movies
    p  
    a(class="btn btn-lg btn-success" href="#" role="button") Read fresh post