extends layout
block content
  h1 Welcome to a wannabe web-developer's blog! My name is
    h1 Aysa Matueva
  p
    p(class='lead') I'm a Russian girl in Melbourne, have a degree in medicine and 10 years of experience as a barista. I've just started to learn coding in May 2017
    So if you want to start learning coding from scratch but don't know where to start - you're in the right place! Let's take that path together and share our knowledge
        Also here you may find information about some other stuff - like coffee and movies
    p  
    a(class="btn btn-lg btn-success" href="fresh" role="button") Read fresh post