extends layout
block content
    p Projects
    | Barista Hints - cafe equipment, workflow and bar structure advisor
    br
    | Lars Fon Trier Filmography
    br
    | True Detective random quote machine 