extends layout
block content
    p Projects
    a(class="text-success" href="http://www.baristahints.com") Barista Hints
    |  - cafe equipment, workflow and bar structure advisor
    br
    a(class="text-success" href="https://codepen.io/cassul/pen/qmYGLM") Lars Fon Trier Filmography
    br
    a(class="text-success" href="https://codepen.io/cassul/pen/bRapGj") True Detective random quote machine 
    br
    a(class="text-success" href="https://cassul.github.io/Tic-Tac-Toe/") Tic-Tac-Toe game