extends layout
block content
    p Projects
    a(href="https://www.baristahints.com") Barista Hints
    |  - cafe equipment, workflow and bar structure advisor
    br
    a(href="https://codepen.io/cassul/pen/qmYGLM") Lars Fon Trier Filmography
    br
    a(href="https://codepen.io/cassul/pen/bRapGj") True Detective random quote machine 