extends layout
block content
  p In a right order):
  br
  a(href="https://www.ebay.com/") ebay.com
  |  - buy used/new Macbook
  br
  a(href="https://www.typingclub.com/") typingclub.com
  |  - learn touch type
  br
  a(href="https://www.typing.io/") Typing Practice for Programmers
  |  - practice typing specific languages
  br
  a(href="https://www.lynda.com/Programming-Foundations-tutorials/Foundations-Programming-Fundamentals/83603-2.html") lynda.com
  |  - lots of courses, free 1 month subscription, I've done programming fundamentals - very good 
  br
  a(href="https://teamtreehouse.com/") teamtreehouse
  |  - favourite online-courses resource
  br
  a(href="https://freecodecamp.com" target="_blank") Free Code Camp 
  | - great resource and community. Good for practice and creating first projects. Not enough theory and videos to my taste, but has a great support of a community and meetups in multiple countries
  br
  a(href="https://generalassemb.ly" target="_blank") General Assembly
  | - great offline course. I'll right about it more thoroughly as soon as I'll finish my WDI. For now I can only say I heard only good stuff about it. If you have 15500 AUD to spare - I highly recommend it)
  a(href="") 
  a(href="") 
  a(href="") 