extends layout
block content
  p In a right order):
  br
  a(href="https://www.ebay.com/") ebay.com
  |  - buy used/new Macbook
  br
  a(href="https://www.typingclub.com/") typingclub.com
  |  - learn touch-type
  br
  a(href="https://www.lynda.com/Programming-Foundations-tutorials/Foundations-Programming-Fundamentals/83603-2.html") lynda.com
  |  - lots of courses, free 1 month subscription, I've done programming fundamentals - very good 
  br
  a(href="https://teamtreehouse.com/") teamtreehouse
  |  - favourite online-courses resource
  a(href="") 
  a(href="") 
  a(href="") 
  a(href="") 
  a(href="") 