extends layoutRu

block content
    h1 Добро пожаловать в мой блог! Меня зовут
    h1 Айса Матуева
    p(class='lead') Если ты хочешь стать веб-разработчиком, но тебе непонятно с чего начать - ты в правильном месте! Я начала совсем с нуля и рассскажу где найти хорошие ресурсы для начинащих. Ну еще здесь я пишу о своих кофейных приключениях и жизни в Мельбурне. 
    p  
    a(class="btn btn-lg btn-success" href="/fresh" role="button") Свежий пост