extends layout

block content
    form(action='/hello', method='post')
    input(type="radio" name="language" value="English") English
    br
    input(type="radio" name="language" value="Russian") Russian
    button(type='submit') Submit
