extends layout
block content
    h1 Welcome to a wannabe web-developer's blog! 
    h2 My name is Aysa Matueva
    p1 contact   details 
    E-mail:   aysamatueva.com 
    br
    Personal   website:      aysamatueva.com
    br 
    Linkedin   profile:    https://www.linkedin.com/in/aysamatueva 
    br
    Facebook   profile:    https://www.facebook.com/aysa.matueva
    p(class='lead') If you want to start learning coding from scratch but don't know where to start - you're in the right place!  
        Also here you may find some information about some other stuff - like coffee and movies    
    p Please choose your language
    p Pozhalujsta vyberite yazik
    form(action='/language', method='post')
        input(type='radio', name='language', value='english') 
        p English
        input(type='radio', name='language', value='russian') 
        p Russian
        button(type='submit') Submit